.contacts {
	$self: &;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	row-gap: 48px;

	@media (min-width: $screen-xl) {
		row-gap: 96px;
	}

	&__header {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		row-gap: 12px;
		will-change: opacity, transform;

		@media (min-width: $screen-xl) {
			row-gap: 16px;
		}
	}

	&__body {
		will-change: opacity, transform;
	}
}
