$temp-section-opacity: 0;

.section {
	$self: &;
	position: relative;
	width: 100%;
	margin: 0 auto;

	&__inner {
		position: relative;
	}

	&__container {
		@include container();
	}

	&__row {
		@include row();
	}

	&__col {
		@include col(xs, 12, 12);

		&--8 {
			@include col(sm, 10, 12);
			@include col-offset(sm, 1, 12);
			@include col(md, 8, 12);
			@include col-offset(md, 2, 12);
		}

		&--center {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
		}

		&--contacts {
			@include col(lg, 10, 12);
			@include col-offset(lg, 1, 12);
		}
	}

	// Mixes

	// Modifiers

	&--window {
		overflow: hidden;
		height: 100vh;
		//background-color: rgba(green, 0.75);

		//	outline: 2px dashed white;/* temp style */

		//height: calc((var(--vh, 1vh) * 100));
		/* TODO: Make modifier for 100vh on mobile */

		// Modifiers

		&_alternate {

			#{$self}__inner {
				height: 100%;
			}

			#{$self}__container {
				height: 100%;
			}

			#{$self}__row {
				height: 100%;
			}

			#{$self}__col {
				height: 100%;
			}
		}
	}

	&--align_center {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;

		#{$self}__inner {
			width: 100%;
		}
	}

	&--slider {

		#{$self}__inner {
			width: 100%;
			height: 100%;
		}
	}
}

.page-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: $color-black;
	opacity: 0;
	pointer-events: none;
}

.page-fade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: $color-black;
	opacity: 0;
	pointer-events: none;
}
